<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Client Panel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collspan navbar-collapse" id="navbarMain">
        <ul class="navbar-nav mr-auto">
          <ul class="nav item">
            <a routerLink="/" class="nav-link">Dashboard</a>
          </ul>
        </ul>

        <ul class="navbar-nav ml-auto">
          <ul class="nav item">
            <a routerLink="/register" class="nav-link">Register</a>
          </ul>
          <ul class="nav item">
            <a routerLink="/login" class="nav-link">Login</a>
          </ul>
        </ul>


      </div>

    </div>
</nav>